/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~dropzone/dist/dropzone.css";

body {
  padding: 0;
  margin: 0;
  padding-bottom: 64px;
}

.form-group {
  width: 100%;
  margin-bottom: 16px;
}

.spacer {
  flex-grow: 1;
}

.spinner {
  margin: 48px auto;
}

/* Text Utils */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Flexbox utils */

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}
