header#site-header.header
  .page-title
    h6 Profile page
  .header-content-wrapper
    form.search-bar.w-search.notification-list.friend-requests
      .form-group.with-button
        input.form-control.js-user-search(placeholder='Search here people or pages...', type='text')
        button
          svg.olymp-magnifying-glass-icon
            use(xlink:href='icons/icons.svg#olymp-magnifying-glass-icon')
    .control-block
      .author-page.author.vcard.inline-items.more
        .author-thumb
          img.avatar(alt='author', src='//theme.crumina.net/html-olympus/img/author-page.jpg')
          span.icon-status.online
          .more-dropdown.more-with-triangle
            .mCustomScrollbar(data-mcs-theme='dark')
              .ui-block-title.ui-block-title-small
                h6.title Your Account
              ul.account-settings
                li
                  a(href='29-YourAccount-AccountSettings.html')
                    svg.olymp-menu-icon
                      use(xlink:href='icons/icons.svg#olymp-menu-icon')
                    span Profile Settings
                li
                  a(href='36-FavPage-SettingsAndCreatePopup.html')
                    svg.olymp-star-icon.left-menu-icon(data-toggle='tooltip', data-placement='right', data-original-title='FAV PAGE')
                      use(xlink:href='icons/icons.svg#olymp-star-icon')
                    span Create Fav Page
                li
                  a(href='#')
                    svg.olymp-logout-icon
                      use(xlink:href='icons/icons.svg#olymp-logout-icon')
                    span Log Out
        a.author-name.fn(href='02-ProfilePage.html')
          .author-title
            | James Spiegel
            svg.olymp-dropdown-arrow-icon
              use(xlink:href='icons/icons.svg#olymp-dropdown-arrow-icon')
          span.author-subtitle SPACE COWBOY