.photo-item.col-4-width
  img(src='//theme.crumina.net/html-olympus/img/photo-item9.jpg', alt='photo')
  .overlay.overlay-dark
  a.more(href='#')
    svg.olymp-three-dots-icon
      use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='icons/icons.svg#olymp-three-dots-icon')
  a.post-add-icon.inline-items(href='#')
    svg.olymp-heart-icon
      use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='icons/icons.svg#olymp-heart-icon')
    span 15
  a.full-block(href='#', data-toggle='modal', data-target='#open-photo-popup-v2')
  .content
    a.h6.title(href='#') Header Photos
    time.published(datetime='2017-03-24T18:18') 1 week ago
