style.
  .mdc-toolbar__row:first-child::after {
    background-image: url("!{user.background}");
    background-size: cover;
    background-position: top;
  }

header.mdc-toolbar.mdc-toolbar--fixed.mdc-toolbar--waterfall.mdc-toolbar--flexible.mdc-toolbar--flexible-default-behavior
  .mdc-toolbar__row
    section.mdc-toolbar__section.mdc-toolbar__section--align-start
      span.mdc-toolbar__title Latest Photos
    section.mdc-toolbar__section.mdc-toolbar__section--align-end
      a.material-icons.mdc-toolbar__icon(href='#') explore
      a.material-icons.mdc-toolbar__icon(href='#') account_circle
      a.material-icons.mdc-toolbar__icon(href='#') settings
      a.material-icons.mdc-toolbar__icon(href='/logout') exit_to_app
