.container
  .row
    .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-xs-12
      .ui-block
        .top-header
          .top-header-thumb
            img(src='//theme.crumina.net/html-olympus/img/top-header1.jpg', alt='nature')
          .profile-section
            .row
              .col-lg-5.col-md-5
                ul.profile-menu
                  li
                    a.active(href='06-ProfilePage.html') Albums
                  li
                    a(href='07-ProfilePage-Photos.html') Photos
                  li
                    a(href='07-ProfilePage-Photos.html') Favorites
              .col-lg-5.ml-auto.col-md-5
                ul.profile-menu
            .control-block-button
              .btn.btn-control.bg-primary.more
                svg.olymp-settings-icon
                  use(xlink:href='icons/icons.svg#olymp-settings-icon')
                ul.more-dropdown.more-with-triangle.triangle-bottom-right
                  li
                    a(href='#', data-toggle='modal', data-target='#update-header-photo') Update Profile Photo
                  li
                    a(href='#', data-toggle='modal', data-target='#update-header-photo') Update Header Photo
                  li
                    a(href='29-YourAccount-AccountSettings.html') Account Settings
          .top-header-author
            a.author-thumb(href='02-ProfilePage.html')
              img(src='//theme.crumina.net/html-olympus/img/author-main1.jpg', alt='author')
            .author-content
              a.h4.author-name(href='02-ProfilePage.html') James Spiegel
              .country San Francisco, CA