.cards-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: (100% - 3) / 4;
  box-sizing: border-box;
  margin-bottom: 1%;
  margin-right: 1%;
  overflow: hidden;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.img {
  height: 250px;
  object-fit: cover;
}