.header {
  margin-bottom: 24px;
  background: #ededed;
}

.header-inner {
  display: flex;
  align-items: flex-start;
  min-height: 144px;
  padding: 24px 0;
  box-sizing: border-box;
}

.avatar {
  flex-shrink: 0;
  margin-right: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;

  img {
    display: block;
  }
}

.text {
  flex-grow: 1;
}

.bio {
  max-width: 50%;
}