.lg-on {
  overflow-y: hidden;
  padding-right: 17px;
}

.lg-backdrop {
  background: rgba(0, 0, 0, 0.70);
}

.lg-outer .lg-image {
  max-width: 80%;
  max-height: 80%;
}

.lg-outer.lg-with-sidebar {
  width: auto;
  right: 350px;
}

.lg-outer.lg-with-sidebar .lg-sub-html {
  position: fixed;
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999;

  width: 350px;
  padding: 0;

  font-size: inherit;
  text-align: initial;

  overflow-y: auto;
  background: #fff;
  color: inherit;
}
