body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

:root {
  --mdc-theme-primary: #212121;
}

textarea {
  resize: none;
}


/* Auth */
.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/img/beach.jpg') center / cover;
}

.auth-page__card {
  width: 400px;
}


/* Layout */
.page-main {
  max-width: 935px;
  padding: 60px 20px 30px;
  margin: 0 auto;
  min-height: 1125px;
  box-sizing: border-box;
}


/* User */
.user {
  margin-bottom: 44px;
  display: flex;
}

.user__avatar {
  flex: 1;
  margin-right: 30px;
  text-align: center;
}

.user__avatar button {
  padding: 0;
  border: none;
  background: none;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user__avatar img {
  display: block;
}

.user__body {
  flex: 2;
}

.user__stats {
  list-style: none;
  padding: 0;
}

.user__stats li {
  display: inline-block;
}

.user__stats li:not(:last-child) {
  margin-right: 40px;
}

.user__headline {
  display: flex;
  justify-content: space-between;
}


/* Cards */
.photo-card__avatar {
  display: block;
  background: #bdbdbd;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.photo-card__avatar-link {
  position: absolute;
}

.photo-card--with-avatar .mdc-card__title,
.photo-card--with-avatar .mdc-card__subtitle {
  margin-left: 56px;
}

.photo-card .mdc-card__title a,
.photo-card .mdc-card__subtitle a {
  text-decoration: none;
}

.photo-card__photo {
  display: block;
  max-width: 100%;
  height: auto;
}
