@import url('photo-card.css');
@import url('photo-tile.css');
@import url('user.css');
@import url('light-gallery.css');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

:root {
  --mdc-theme-primary: #212121;
  --mdc-grid-list-tile-width: 296px;
}

textarea {
  resize: none;
}


/* Auth */
.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/img/beach.jpg') center / cover;
}

.auth-page__card {
  width: 400px;
}


/* Layout */
.page-main {
  max-width: 900px;
  padding: 60px 20px;
  margin: 0 auto;
  min-height: 900px;
}

.mdc-button__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  font-size: 18px;
  line-height: inherit;
  vertical-align: top;
}

/* Material icons */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
