body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mdl-dialog {
  width: 420px;
}

.mdl-card {
  max-width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/img/beach.jpg') center / cover;
}

.login-page__card {
  width: 400px;
  overflow: visible;
}

.page-header {
  position: relative;
}

.page-header__inner {
  display: flex;
  padding: 48px;
  background: url('/img/beach.jpg') center / cover;
  color: #fff;
}

.page-header__photo {
  margin-right: 25px;
  border-radius: 50%;
}

.page-header__about {
  max-width: 600px;
}

.page-header__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header__links li {
  display: inline-block;
  margin-right: 10px;
}

.page-header__links a {
  color: #fff;
}

.page-header__actions {
  position: absolute;
  top: 48px;
  right: 48px;
}

.page-header__actions button {
  display: block;
  margin-bottom: 15px;
}

.page-tabs__tab-bar {
  align-items: center;
  padding: 0 48px;
  margin-bottom: 48px;
}
