dialog#edit-dialog.mdl-dialog
  h4.mdl-dialog__title User settings
  form(action=`/users/${user.id}` method='POST' enctype='multipart/form-data')
    .mdl-dialog__content
        +method('PATCH')
        +csrf(csrf)
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#name.mdl-textfield__input(name='displayName' value=user.displayName required)
          label.mdl-textfield__label(for='name') Name
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          textarea#about.mdl-textfield__input(name='bio' rows='3')= user.bio
          label.mdl-textfield__label(for='about') About
        p
          div avatar
          input(type='file' name='avatar')
        p
          div background
          input(type='file' name='background')
    .mdl-dialog__actions
      button.mdl-button(type='button' data-close-modal) Cancel
      button.mdl-button(type='submit') Save
