extends /layout

block content
    .login-page
        form(action='/forgot-password' method='POST').login-page__card.mdl-card.mdl-shadow--2dp
            +csrf(csrf)
            .mdl-card__title
                h2.mdl-card__title-text Reset password
            .mdl-card__supporting-text
                p Enter your email to receive an email with password reset instructions.
                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    input#email.mdl-textfield__input(type='email' name='email' required)
                    label.mdl-textfield__label(for='email') Email
            .mdl-card__actions.mdl-card--border(style='display: flex; align-items: center;')
                button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                    | Submit
                .mdl-layout-spacer
                small.mdl-color-text--grey-600.
                    #[a(href='/signup') Create account] or #[a(href='/login') Log in] instead.
