extends /layout

//- include /mixins/user
//- include /mixins/edit-profile
include /mixins/photo

block content
  include /partials/toolbar

  main.mdc-toolbar-fixed-adjust.page-main
    //- +user(user)
    //- +edit-profile(user)

    //- h2 Add album
    //- form(action='/albums' method='POST' enctype='multipart/form-data')
    //-   +method('PUT')
    //-   +csrf(csrf)
    //-   p: input(name='name' placeholder='Name')
    //-   p: input(name='description' placeholder='Description')
    //-   P: input(name='cover' type='file')
    //-   P: button(type='submit') Submit
    //- hr

    //- h2 My albums
    //- ul(style='display: flex; list-style: none; padding: 0;')
    //-   each album in user.albums
    //-     li(style='margin: 0 15px;')
    //-       img(src=album.cover.url width=200 alt=album.name)
    //-       h4: a(href=`/albums/${album.id}`)= album.name
    //-       div= album.description
    //-       div= album.photosCount + ' photos'
    //-       div= 'created ' + moment(album.createdAt).fromNow()
    //- hr

    .mdc-layout-grid
      .mdc-layout-grid__inner
        each photo in photos
          .mdc-layout-grid__cell
            +photo(photo)

  footer(style=`height: 150px; background: url("${user.background.replace('public', '')}") bottom / cover;`)
