include /mixins/csrf
include /mixins/method

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title Photo Book
    link(href='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/dropzone.min.css' rel='stylesheet')
    //- link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/basic.css' rel='stylesheet')
    //- link(href='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.9.1/baguetteBox.min.css' rel='stylesheet')
    link(href='https://cdn.jsdelivr.net/npm/lightgallery.js@1.0.1/dist/css/lightgallery.min.css' rel='stylesheet')
    link(href='/css/style.css' rel='stylesheet')
  body
    block content

    .mdc-snackbar(aria-live='assertive', aria-atomic='true', aria-hidden='true')
      .mdc-snackbar__text
      .mdc-snackbar__action-wrapper
        button.mdc-button.mdc-snackbar__action-button(type='button')

    script(src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.2.0/min/dropzone.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.9.1/baguetteBox.min.js')
    script(src='https://cdn.jsdelivr.net/npm/lightgallery.js@1.0.1/dist/js/lightgallery.min.js')
    script(src='https://unpkg.com/lg-zoom.js@latest/dist/lg-zoom.min.js')
    script.
      const MESSAGES = !{JSON.stringify(flash())}
    script(src='/js/index.js')
