extends /layout

block content
    .login-page
        form(action='/login' method='POST').login-page__card.mdl-card.mdl-shadow--2dp
            +csrf(csrf)
            .mdl-card__title
                h2.mdl-card__title-text Log in #{test}
            .mdl-card__supporting-text
                p.
                    If you don't have an account, you can #[a(href='/signup') sign up] for free!
                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    input#email.mdl-textfield__input(type='email' name='email' required)
                    label.mdl-textfield__label(for='email') Email
                .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                    input#password.mdl-textfield__input(type='password' name='password' required)
                    label.mdl-textfield__label(for='password') Password
            .mdl-card__actions.mdl-card--border(style='display: flex; align-items: center;')
                button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                    | Login
                a(href='/auth/github').mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
                    | Github
                .mdl-layout-spacer
                small.mdl-color-text--grey-600.
                    Forgot your #[a(href='/forgot-password') password]?
