extends /layout

include /mixins/user
include /mixins/album
include /mixins/edit-profile
include /mixins/add-album

block content
  include /partials/toolbar

  main.mdc-toolbar-fixed-adjust.page-main
    +user(user)
    +edit-profile(user)
    +add-album()

    .mdc-layout-grid
      .mdc-layout-grid__inner
        each album in currentUser.albums
          .mdc-layout-grid__cell
            +album(album)

  include /partials/footer
