extends /layout

include /mixins/user-header
include /mixins/album-card
include /mixins/edit-profile
include /mixins/add-album

block content
  include /partials/toolbar

  main.mdc-toolbar-fixed-adjust.page-main
    +user-header(user)

    .mdc-layout-grid
      .mdc-layout-grid__inner
        each album in currentUser.albums
          .mdc-layout-grid__cell
            +album-card(album)

  include /partials/footer

  +edit-profile(user)
  +add-album()
