extends /layout

include /albums/header
include /albums/create
include /albums/delete
include /photos/photo-card
include /photos/add-photos

block content
  include /partials/toolbar

  main.mdc-toolbar-fixed-adjust.page-main
    +album-header(album)

    .mdc-layout-grid
      .mdc-layout-grid__inner.gallery
        each photo in album.photos
          .mdc-layout-grid__cell
            +photo-card(photo, true)

  include /partials/footer

  +add-album(album)
  +add-photos(album)
  +delete-album(album)

  //- .container
    form(action=`/photos/${photo.id}` method='POST')
      +csrf(csrf)
      +method('PATCH')
      p: input(name='name' placeholder='Name' value=photo.name)
      p: input(name='description' placeholder='Description' value=photo.description)
      p: button Submit

    form(action=`/photos/${photo.id}` method='POST')
      +csrf(csrf)
      +method('DELETE')
      p: button Delete photo
