extends /layout

block content
  .auth-page
    form.mdc-card.auth-page__card(action='' method='POST' style='background: #fff;')
      +csrf(csrf)
      .mdc-card__primary
        h2.mdc-card__title.mdc-card__title--large Reset password
        p.mdc-typography--body1 Enter your email to receive an email with password reset instructions.

        label.mdc-textfield(data-mdc-auto-init='MDCTextfield' style='width: 100%;')
          input.mdc-textfield__input(type='email' name='email' required)
          span.mdc-textfield__label Email
          .mdc-textfield__bottom-line

      .mdc-card__actions
        button.mdc-button.mdc-button--compact.mdc-card__action Submit
        a(href='/login').mdc-button.mdc-button--compact.mdc-card__action Login
