extends /layout

block content
  .auth-page
    form.mdc-card.auth-page__card(action='' method='POST' style='background: #fff;')
      +csrf(csrf)
      .mdc-card__primary
        h2.mdc-card__title.mdc-card__title--large Log in

        label.mdc-textfield(data-mdc-auto-init='MDCTextfield' style='width: 100%;')
          input.mdc-textfield__input(type='email' name='email' required)
          span.mdc-textfield__label Email
          .mdc-textfield__bottom-line

        label.mdc-textfield(data-mdc-auto-init='MDCTextfield' style='width: 100%;')
          input.mdc-textfield__input(type='password' name='password' required)
          span.mdc-textfield__label Password
          .mdc-textfield__bottom-line

      .mdc-card__actions
        button.mdc-button.mdc-button--compact.mdc-card__action Login
        a(href='/auth/github').mdc-button.mdc-button--compact.mdc-card__action
          span.mdc-button__icon: i.fa.fa-github
          | Login via Github
        a(href='/signup').mdc-button.mdc-button--compact.mdc-card__action Sign Up
        a(href='/forgot-password').mdc-button.mdc-button--compact.mdc-card__action Restore Password
