extends /layout

include /users/header
include /users/edit
include /albums/card
include /albums/create

block content
  include /partials/toolbar

  main.mdc-toolbar-fixed-adjust.page-main
    +user-header(user)

    .mdc-layout-grid
      .mdc-layout-grid__inner
        each album in currentUser.albums
          .mdc-layout-grid__cell
            +album-card(album)

  include /partials/footer

  +edit-profile(user)
  +add-album()
